/* container */
.new-container{
	width:1080px;
	margin:auto;
}
.secret-sauce{
	padding: 80px 0 102px;
	margin-top: 80px;
}
.secret{
	margin-bottom: 130px;
}
.secret h2{
	font-size: 32px;
  line-height: 41px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  margin-bottom: 32px;
  font-family: 'GoogleSans-Bold',Arial, Helvetica, sans-serif;
}
.secret h2:after{
	content: '';
  display: block;
  position: absolute;
  left: 12%;
  margin: 0 auto;
  width: 152px;
  padding-top: 4px;
  border-bottom: 3px solid #603BE6;
}
.secret-para{
	/* width: 33%; */
	margin: 25px  auto 0;
	font-size: 20px;
	line-height: 1.5;
}
.secret-features-image p{
	font-size: 17px;
	line-height: 22px;
	margin: auto;
}
.feature1{
	background: url(../assets/images/science/secret-sauce/gamescience.svg) no-repeat;
	padding: 131px 63px;
	background-size:cover;
}
.feature1 p{
	width: 272px;
}
.feature2{
	background: url(../assets/images/science/secret-sauce/datascience.svg) no-repeat;
	padding: 120px 59px;
	background-size:cover;
}
.feature2 p{
	width: 279px;
}
.feature3{
	background: url(../assets/images/science/secret-sauce/peoplescience.svg) no-repeat;
	padding: 120px 61px;
	background-size:cover;
}
.feature3 p{
	width: 276px;
}
.secret-features-image h3{
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
	margin-bottom: 16px;
	font-family: 'GoogleSans-Bold',Arial, Helvetica, sans-serif;
}
.secret-features-image{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 95px;
	/* -ms-flex-wrap: wrap;
	    flex-wrap: wrap; */
}
.secret-features-image div + div{
	margin-left: 24px;
	
}

.secret-sauce-work h3{
	font-weight: 500;
	font-size: 32px;
	line-height: 41px;
	font-family: 'GoogleSans-Medium', Arial,sans-serif;
	/* margin-bottom: 80px; */
}
.work-process{
	margin-top: 100px;
}

.ai-process h4{
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	font-family: 'GoogleSans-Medium', Arial,sans-serif;
	margin-bottom: 24px;
}

.ai-section .creating-process{
	font-weight: 500;
	font-size: 32px;
	line-height: 41px;
	font-family: 'GoogleSans-Medium',Arial, sans-serif;
}
.ai-process{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 81px 0 160px;
}
.ai-process h5{
	font-size: 16px;
	margin-bottom: 0;
}
.sauce-para{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 27%;
}
.ai-process p{
	margin-top: 16px;
	font-size: 14px;
	margin-bottom: 0;
}
.sauce-para p{
	width: 90%;
	font-size: 14px;
}
.sauce-para img{
	width: 80px;
    height: 80px;
}
.employee-data img{
	width: 162px;
	height: 80px;
}
.artificial-data img{
	width: 80px;
	height: 80px;
}
.data-pad{
	margin: 0 18px 0  88px;
}
.data-pad2{
	margin: 0 52px 0 28px;
}
.process1,.process2,.process3{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.process3{
	margin-left: 13%;
}
.work-process{
	margin-top: 100px;
	position: relative;
}
.link-work1{
	position: absolute;
    right: 17%;
    top: 16%;
}
.link-work2{
	position: absolute;
	top: 54%;
    left: 20%;
}
.link-work2 h5{
	position: absolute;
    width: 68px;
    top: 57%;
    left: -14%;
}
.work-process h5{
	font-size: 16px;
	line-height: 24px;
}
.link-work1 h5{
	position: absolute;
    right: -54%;
    width: 117px;
    top: 48%;
}
.mobile-process{
	display: none;
}
.mobile-process .process2{
	background: #F8F8F8;
}

.work-process h4{
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	font-family: 'GoogleSans-Medium',Arial, Helvetica, sans-serif;
	margin-bottom: 24px;
}
.work-middle-text h5{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 0;
}
.process1 div + div{
	margin-left: 80px;
}
.process2{position: relative;}
.process1{position: relative;}
.process2 div + div{
	margin-left: 45px;
}
.process2,.process3{
	margin-top: 115px;
}
.process3 div + div{
	margin-left: 65px;
}
.mobile-arrow{
	display: none;
}	


/* @media(max-width: 1622px){
	.secret-para{
		width: 55%;
	}
} */

/* @media(min-width: 1500px){
	.link-work2 {
		left: 20%;
	}
	.link-work1 {
		right: 17%;
	}
} */
@media(max-width: 1430px){
	.secret-features-image {
		-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
}
@media(max-width: 1335px){
	.sauce-para {
		width: 31%;
	}
}

/* @media(min-width: 2300px){
	.link-work2 {
		left: 34%;
	}
	.link-work1 {
		right: 31%;
	}
}

@media(max-width:2299px) and (min-width: 2104px){
	.link-work1 {
		right: 31%;
	}
	.link-work2 {
		left: 35%;
	}
}
@media(max-width:1849px) and (min-width: 1700px){
	.link-work1 {
		right: 17%;
	}

}
@media(max-width:1330px){
	.link-work1 {
		right: 15%;
	}
	.link-work2 {
		left: 19%;
	}
}
@media(max-width: 2105px) and (min-width:1850px){
	.link-work2 {
		left: 20%;
	}
	.link-work1 {
		right: 16%;
	}
} */
/* @media(max-width: 1224px){
	.secret-para{
		width: 45%;
	}
} */

@media(max-width: 1199px){
	/* .secret-para{
		width: 60%;
	} */
	.link-work2 {
		left: 8%;
	}
	.link-work1{
		right: 7%;
	}
	.sauce-para {
		width: 100%;
	}
	.data-pad2 {
		margin: 0 20px 0 28px;
	}
	.data-pad {
		margin: 0 18px 0 20px;
	}
	.sauce-para p {
		 width: 100%;
	}
	.feature3{
		margin-top: 20px;
		margin-left: 0 !important;
	}
	.new-container{
		width: 100%;
	}
}

@media(max-width: 991px){
	/* .secret-para{
		width: 90%;
	} */

	.secret-sauce{
		padding: 80px 0 102px;
	}
	.work-process{
		display: none;
	}
	.mobile-process{
		display: block;
		position: relative;
		margin-top: 35px;
	}
.process1 div + div{
	margin: 0;
}
	.work-middle-text{
		margin: 0 27px 0 50px  !important;
	}
	.mobile-process h4{
		font-size: 18px;
		line-height:1.2;
		font-weight: 500;
		font-family: 'GoogleSans-Medium',Arial, Helvetica, sans-serif;
		margin-bottom: 16px;		
	}


	.mobile-process h5{
		font-size: 14px;
		line-height: 21px;
	}
	.link-work-mobile1{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-top: 20px;
		margin-left: 109px;
	}
	.process2{
		margin-top: 22px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
    	-webkit-box-pack: center;
    	    -ms-flex-pack: center;
    	        justify-content: center;
   		-webkit-box-align: center;
   		    -ms-flex-align: center;
   		        align-items: center;
		padding: 20px 50px;
		border-radius: 8px;
	}

	.process3{
		margin-top: 19px;
	}
	.process3 div + div{
		margin-left: 44px;
	}
	.process2 div + div {
		margin-left: 47px;
	}
	.link-work-mobile2{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-top: 39px;
		margin-left: 193px;
	}
	.process1-mobile h4{
		width: 82px;
	}
	.ai-process{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 32px 0 130px;
	}

	.straight-arrow{
		display: none;
	}
	.mobile-arrow{
		display: block;
	}	
	.ai-process h4 {
		font-size: 24px;
		margin-bottom: 22px;
	}
	
	.ai-process p {
		margin-top: 15px;
		margin-bottom: 0;
		width: 306px;
		font-size:16px;
	}
	.data-pad {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin:23px 0 24px;
		padding-left: 92px;
	}
	.data-pad2{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 24px 0 26px;
		padding-left: 64px;
	}
	.feature2{
		margin-top: 40px;
		margin-left: 0 !important;
	}
	.feature2{
		margin-top: 40px;
	}
	.sauce-para p {
		font-size: 15px;
	}
	.trait-head{
		width: 192px;
	}

}
@media(max-width: 767px){
	.secret-sauce{
		padding: 80px 0 102px;
		margin-top: 50px;
	}
	.secret-para{
		width: 100%;
	}
	.secret h2{
		font-weight: bold;
		font-size: 28px;
		line-height: 41px;
		font-family: 'GoogleSans-Bold',Arial, Helvetica, sans-serif;
	}
	.secret h2:after{
		width: 126px;
		left: 14%;
	}

	.link-work-mobile2{
		margin-left: 94px;
	}
	.mobile-process h5{
		font-size: 12px;
		line-height: 21px;
	}
	.secret-features-image {
		margin-top: 70px;
	}
	.secret {
		margin-bottom: 80px;
	}
	.secret-features-image p {
		font-size: 16px;
	
	}
	.ai-section .creating-process{
		font-size:28px;
	}
	.ai-process{
		margin: 32px 0 100px;
	}
	.ai-process p {
		width: 100%;
	}
}
@media(max-width: 421px){
	.link-work-mobile2 {
		margin-left: 72px;
	}
	.ai-process h5{
		font-size: 12px;
	}
	.data-pad h5{
		width: 47px;
		line-height: 18px;
		text-align: center;
	}
	.data-pad{
		padding-left: 56px;
	}
	.data-pad2 h5{
		width: 38px;
		line-height: 18px;
	}
	.data-pad2{
		padding-left: 51px;
	}
	.secret-features-image p {
		font-size: 14px;
	}
	.feature1,.feature2,.feature3{
		padding: 110px 40px;
	}

}
@media(max-width: 414px){
	.ai-process h4 {
		font-size: 18px;
		margin-bottom: 16px;
	}
	.sauce-para img{
		width: 40px;
		height: 40px;
	}
	.employee-data img{
		width: 80px;
		height: 40px;
	}
	.artificial-data img{
		width: 80px;
		height:40px;
	}
	.mobile-process h4{
		font-size: 14px;
		line-height: 21px;
	}
	.trait-head{
		width: 100%;
	}
}

@media(max-width: 367px){
	.process1-mobile h4{
		width: 100%;
	}
	.feature1,.feature2,.feature3{
		padding: 100px 25px;
	}
}
@media(max-width: 345px){
	.link-work-mobile2 {
		margin-left: 48px;
	}
}
@media(max-width: 319px){
	.link-work-mobile2 {
		margin-left: 9%;
	}
}
@media(max-width: 319px){
	.ai-process p {
		width: 100%;
	}
}
@media(max-width: 360px){
	.secret-para{
		font-size:16px;
	}
}
